
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>Codelab Proje</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />

<body>
<div >

<div class="w3-container w3-teal">
  <h1>Asp.Net Core Codelab Proje</h1>
</div>


<div class="w3-container">
    @RenderBody()
</div>

</div>
      
</body>
</html>